@using Interdisciplinar2023.ViewModels;
@model DashboardIndexViewModel
@{
ViewData["Title"] = "Relatório";
}
<div class="my-2">

    <h1> Relatório </h1>

    <div class="d-flex">
        <div class="d-flex gap-2 mx-3">
            <div class="legenda bg-warning">
            </div>
            <label>Quantidade de itens abaixo de 10</label>
        </div>
        <div class="d-flex gap-2 mx-3">
            <div class="legenda bg-danger">
            </div>
            <label>Validade do produto próxima</label>
        </div>
    </div>
</div>

<form class="my-2 d-flex flex-row align-items-center justify-content-between" asp-controller="Dashboard" asp-action="Index"
    method="post">
    <div class="form-group">
        <label asp-for="SelectedDate"></label>
        <input asp-for="SelectedDate">
    </div>
    <div class="form-group mx-3">
        <label asp-for="SelectedProviderId"></label>
        <select asp-for="SelectedProviderId" asp-items='new SelectList(Model.Providers, "Id", "CorporateName")'>
            <option selected value="@(null)">--Fornecedor--</option>
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Procurar</button>
    </div>
</form>
<div>
    @if (Model.Products.Any())
    {

    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Products.First().Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Products.First().Corridor)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Products.First().Shelf)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Products.First().Batch)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Products.First().Validity)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Products.First().Category)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Products.First().Quantity)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Products.First().Value)</th>
                <th scope="col">Mais Detalhes </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model.Products)
            {
            <tr>
                <th scope="row">@product.Name</th>
                <td>@product.Corridor</td>
                <td>@product.Shelf</td>
                <td>@product.Batch</td>
                <td class="@(@product.Validity <= DateTime.Now.AddMonths(1) ? "table-danger text-danger" : "" )">
                    @product.Validity
                </td>
                <td>@product.Category</td>
                <td class="@(product.Quantity < 10 ? " table-warning text-warning" : "" )">
                    @product.Quantity
                </td>
                <td>R$ @product.Value.ToString("F2")</td>
                <td class="px-5"><a class="btn-secondary btn" asp-route-id="@product.Id" asp-controller="Product"
                        asp-action="Details">Ver</a></td>
            </tr>
            }
        </tbody>
    </table>
    }
</div>
