@model IEnumerable<Provider>

    @{
    ViewData["Title"] = "Lista de Fornecedores";
    }

    <h1>Lista de Fornecedores</h1>

    <div class="p-3 w-100 d-flex flex-row-reverse">
        <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Adicionar Fornecedor</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.CorporateName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Phone)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Celphone)</th>
                <th scope="col">Mais Detalhes </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Provider provider in Model)
            {
            <tr>
                <th scope="row">@provider.CorporateName</th>
                <td>@provider.Email</td>
                <td>@provider.Phone</td>
                <td>@provider.Celphone</td>
                <td class="px-5"><a class="btn-secondary btn" asp-action="Details" asp-controller="Provider" asp-route-id="@provider.Id">Ver</a></td>
            </tr>
            }
        </tbody>
    </table>
