@model Product?
@{
ViewData["Title"] = "Detalhes do " + @Model.Name;
}

<div class="d-flex flex-row container align-items-center justify-content-center">
    <div class="w-50">
        <h1>Detalhes do @Model.Name</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Name</li>
            <li class="list-group-item">R$ @Model.Value.ToString("F2")</li>
            <li class="list-group-item">@Model.Corridor</li>
            <li class="list-group-item">@Model.Shelf</li>
            <li class="list-group-item">@Model.Batch</li>
            <li class="list-group-item">@Model.Validity</li>
            <li class="list-group-item">@Model.Description</li>
            <li class="list-group-item">@Model.Category</li>
            <li class="list-group-item">@Model.Provider.CorporateName</li>
            <div class="d-flex flex-row justify-content-around align-items-center my-3">
                <a asp-action="Edit" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-primary">
                    Editar
                </a>
                <a asp-action="Delete" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-danger">
                    Deletar </a>
            </div>
        </ul>
    </div>
</div>
