@using Interdisciplinar2023.Data.Enum;
@using Interdisciplinar2023.ViewModels;
@model EditProductViewModel
@{
ViewData["Title"] = "Editar " + Model.Name;
}

<form method="post" asp-action="Edit" asp-controller="Product"  asp-route-id="Model.Id">

    <input type="hidden" asp-for="Id">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">@Html.DisplayNameFor(i => i.Name)</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for='Name' class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Value" class="form-label">@Html.DisplayNameFor(i => i.Value)</label>
        <input asp-for="Value" class="form-control">
        <span asp-validation-for='Value' class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Corridor" class="form-label">@Html.DisplayNameFor(i => i.Corridor)</label>
        <input asp-for="Corridor" class="form-control">
        <span asp-validation-for='Corridor' class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Shelf" class="form-label">@Html.DisplayNameFor(i => i.Shelf)</label>
        <input asp-for="Shelf" class="form-control">
        <span asp-validation-for='Shelf' class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Batch" class="form-label">@Html.DisplayNameFor(i => i.Batch)</label>
        <input asp-for="Batch" class="form-control">
        <span asp-validation-for='Batch' class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Validity" class="form-label">@Html.DisplayNameFor(i => i.Validity)</label>
        <input asp-for="Validity" class="form-control">
        <span asp-validation-for='Validity' class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Category">@Html.DisplayNameFor(m => m.Category)</label>
        <select asp-for="Category" asp-items="@Html.GetEnumSelectList<ProductCategory>()" class="form-select">
            <option> -- Select -- </option>
        </select>
        <span asp-validation-for='Category' class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">@Html.DisplayNameFor(i => i.Description)</label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for='Description' class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Quantity" class="form-label">@Html.DisplayNameFor(i => i.Quantity)</label>
        <input asp-for="Quantity" class="form-control">
        <span asp-validation-for='Quantity' class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
